biopython>=1.85
buildh>=1.6.1
colorlog
Deprecated
ipython
libarchive-c
maicos>=0.11.2,<0.12
matplotlib>=3.4.0
MDAnalysis>=2.7.0
mdtraj
numpy>=1.26.4,<2
pandas>=2.0.0
periodictable>=1.5.0
pydantic>=2.0.0
PyYAML>=6.0.0
requests>=2.26.0
scipy>=1.7.0
seaborn
tqdm>=4.5.0
