buildh>=1.6.1
MDAnalysis>=2.7.0
numpy>=1.20.0,<2.0
pandas>=2.0.0
PyYAML>=6.0.0
tqdm>=4.5.0
periodictable>=1.5.0
Deprecated
# fairmd.idp
biopython>=1.85
matplotlib>=3.4.0
scipy>=1.7.0
requests>=2.26.0
seaborn
mdtraj
maicos>=0.11.2,<0.12
libarchive-c
ipython
# used by the scripts in Scripts/BuildDatabank
pydantic>=2.0.0
colorlog
pymol